n8n/workflows/google-sheets-email.json
{
  "name": "autoflow-ai-google-sheets-email",
  "nodes": [
    {
      "parameters": {
        "path": "autoflow-ai/log",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "Sheet1!A:D",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$json[\"name\"]}}",
            "Email": "={{$json[\"email\"]}}",
            "Message": "={{$json[\"message\"]}}",
            "CreatedAt": "={{$now}}"
          }
        }
      },
      "id": "GoogleSheets",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "your@email.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "Autoflow AI Submission Received",
        "text": "Hello {{$json[\"name\"]}}, your submission has been received successfully."
      },
      "id": "SendEmail",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "responseData": "={{ { \"status\": \"success\", \"message\": \"Logged & Email Sent\" } }}"
      },
      "id": "Respond",
      "name": "Respond to Server",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Google Sheet": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Respond to Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}